nav{
    background-color: #c3ebf3;
    display: flex;
    color: black;
   /* width: 100%;*/
   height: 70px;
}

label.logo{
    color:#111 ;
    font-size: 35px;
    line-height: 50px;
    padding: 0 100px;
    font-weight: bold;
    background-color: rgb(113, 122, 122);
    float: left;
    letter-spacing: 2px;
  }
  /*.logo:hover{
      background-color: rgb(190, 238, 245);
      letter-spacing: 6px;
  }*/
  
ul{
    padding: 10px;
    text-decoration: none;
    list-style: none;
    color: black;
    bottom: 10px;
    
}
 nav ul li {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: rgb(206, 35, 35);
   font-size: 20px ;
   font-weight: bolder;
   margin-left: 100px;
   text-decoration: none;
   letter-spacing: 2px;
   
}
li :hover{
   letter-spacing: 6px;
   background-color:rgb(113, 122, 122); 
   border-radius: 5px;
}
nav ul li a {
    color: black;
    text-decoration: none;
    
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding: 2.5rem 0  ;
}
.heading span{
    font-size: 3.5rem;
    background-color:rgb(113, 122, 122) ;
    color: black;
    border-radius: .5rem;
    padding: .2rem 1rem;
}
.heading span.space{
    background: none;
}

.book .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}
.book .row .image{
    flex: 1 1 40rem;

}
.book .row .image img{
    width: 100%;
}
.book .row form{
    flex: 1 1 40rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgb(0, 0, 0,.1);
    border-radius: .5rem;

}
.book .row form .inputbox{
    padding: 1rem 0;
}
.book .row form .inputbox input{
    width: 100%;
    padding: 1px 0px ;
    border: 1rem solid #7fd7ea47;
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
}
.book .row form .inputbox h3{
    font-size: 2rem;
    padding: 1rem 0;
    color: #666;
    text-transform: uppercase;
}
.btn{
    background-color:rgb(113 ,122, 122) ;
    color: black;
    padding: 15px;
    border: rgb(141, 149, 150);
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 2px;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
 }
 .btn:hover{
    letter-spacing: 6px;
    cursor: pointer;
 }
 @media(max-width:450px){
    html{
       font-size: 50px;
    }
 }
 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    font-family: poppins;
   
  }
